@model IEnumerable<ThAmCo.Events.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
